<h6>Your information</h6>

<div>
  <label>Email:</label>
  <%= @current_user.email %>
  <br/>
  <label>First name:</label>
  <%= @current_user.first_name %>
  <br/>
  <label>Last name:</label>
  <%= @current_user.last_name %>
  <br/>
  <label>Last log in:</label>
  <%= @current_user.last_login_time %>
  <br/>
</div>

<%= link_to 'logout', logout_path %>
