<h6>Customer Login</h6>
   <%= form_tag customer_login_submit_path do %>
   <%= label_tag :email %>
   <%= text_field_tag :email %>
   <%= label_tag :password %>
   <%= password_field_tag :password %>
   <%= submit_tag "Login"%>
<%end%>
